// fonts
.fp {font-family: Arial,Helvetica,sans-serif;} // font primary
.fh {font-family: Arial,Helvetica,sans-serif;} // font header
.fi {font-family: sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@blue: #00a1d1;
@cp: #6f6f6c; // color primary
@cl: @blue; // color link

// font sizes
@fsp: 16px; // font size primary
@fsh1: 28px; // font size h1
@fsh2: 24px; // font size h2
@fsh3: 20px; // font size h3
@fsh4: 16px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 984px;
@content-padding: 10px;