.clearfix{
	*zoom:1;
	&:before,&:after{
		display:table;
		content:"";
	}
	&:after{
		clear:both;
	}
}
.container{
	.clearfix;
	position: relative;
	width: @content-width;
	padding: 0 @content-padding;
	margin: auto;
	text-align: left;
}
.row{
	.clearfix;
	margin: 0 -15px;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-main,.col-sidebar{
	position: relative;
	min-height: 1px;
	padding: 0 15px;
	float: left;
}
.col-1{width:8.33333333%;}
.col-2{width:16.66666667%;}
.col-3{width:25%;}
.col-4{width:33.33333333%;}
.col-5{width:41.66666667%;}
.col-6{width:50%;}
.col-7{width:58.33333333%;}
.col-8{width:66.66666667%;}
.col-9{width:75%;}
.col-10{width:83.33333333%;}
.col-11{width:91.66666667%;}
.col-12{width:100%;}
.col-main{width:69%}
.col-sidebar{width:31%}


#col-main {
	float: right;
	width: 77.1%;
	#col-right {
		width: 30.4%;
	}
}
#col-main-full {
	float: left;
	width: 74.7%;
}
#col-left {
	width: 21.2%;
	float: left;
}
#col-center {
	width: 67.3%;
	float: left;
}
#col-right {
	float: right;
	width: 23.4%;
}