@media (min-width: 1200px) {
	
}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 767px) {
	// config
	@content-width: 100%;
	@content-padding: 20px;
	img {
		width: 100%!important;
	}
	.container {
		width: @content-width;
		padding: 0 @content-padding;
	}
	.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-main,.col-center,.col-sidebar,.col-sidebar-small,.col-sidebar-mini{
		width: 100%;
		float: none;
	}
	#col-main,#col-main #col-right,#col-left,#col-center,#col-right{
		float: none;
		width: 100%;
	}
	#page-header,#mainmenu,#wrapper,.main-header,#media,#logos,#footermenu,#page-header,.breadcrumbs {
		min-width: @content-width;
	}
	#page-header {
		.nav-top {
			display: none;
		}
		.logo {
			float: left;
		}
		.iso {
			float: right;
		}
		.search {
			.clearfix;
			clear: both;
			float: none;
			width: 100%;
			input[type=text] {
				width: 85%;
			}
		}
		.reception,.online {
			clear: both;
			float: none;
			width: 100%;
			br {
				display: none;
			}
			&:before{
				top: -15px;
			}
		}
	}
	.main-header {
		display: none;
	}
	#mainmenu {
		ul {
			display: none;
		}
		select {
			display: block;
		}
	}
	.box {
		&.news {
			.item {
				width: 100%;
				float: none;
				border: 0;
				left: 0;
			}
		}
		&.figure {
			#col-left & {
				margin-right: 0;
			}
		}
	}
	#media {
		ul {
			li {
				float: none;
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
	}
	#logos {
		display: none;
	}
	#footermenu {
		display: none;
	}
	#page-footer {
		.copy,.sitemap {
			float: none;
			display: inline;
		}
		.sitemap {
			margin: 0 0 0 10px;
		}
	}
}